pybel==0.15.5
pandas==2.0.3
chembl_webresource_client==0.10.9
openpyxl==3.1.5
networkx==3.2.1
seaborn==0.13.2
pubchempy==1.0.4
jupyter==1.0.0
matplotlib==3.8.3
pillow==10.2.0
numpy==1.24.4
rdkit==2023.9.1
venny4py
tqdm==4.66.2
pandasgwas==1.0.0
animation==0.0.7
matplotlib_venn==0.11.10
plotly==5.21.0
kaleido==0.2.1
xlsxwriter==3.2.0

